<html><head><style>body{font-family:sans-serif;background:#222;color:#fff;} .grid{display:flex;flex-wrap:wrap;gap:15px;} .card{background:#333;padding:10px;border-radius:8px;text-align:center;} img{width:180px;height:140px;object-fit:cover;border-radius:4px;}</style></head><body>
<h2>vegetables</h2><div class="grid">
<div class="card"><img src="/static/images/vegetables/birrot.jpg"><br><b>birrot.jpg</b></div>
<div class="card"><img src="/static/images/vegetables/carbage.jpg"><br><b>carbage.jpg</b></div>
<div class="card"><img src="/static/images/vegetables/carrot.jpg"><br><b>carrot.jpg</b></div>
<div class="card"><img src="/static/images/vegetables/cu.jpg"><br><b>cu.jpg</b></div>
<div class="card"><img src="/static/images/vegetables/cucumber.jpg"><br><b>cucumber.jpg</b></div>
<div class="card"><img src="/static/images/vegetables/greenleaves.jpg"><br><b>greenleaves.jpg</b></div>
<div class="card"><img src="/static/images/vegetables/kathiri.jpg"><br><b>kathiri.jpg</b></div>
<div class="card"><img src="/static/images/vegetables/leaves.jpg"><br><b>leaves.jpg</b></div>
<div class="card"><img src="/static/images/vegetables/leaves2.jpg"><br><b>leaves2.jpg</b></div>
<div class="card"><img src="/static/images/vegetables/lll.jpg"><br><b>lll.jpg</b></div>
<div class="card"><img src="/static/images/vegetables/mul.jpg"><br><b>mul.jpg</b></div>
<div class="card"><img src="/static/images/vegetables/oniyan.jpg"><br><b>oniyan.jpg</b></div>
<div class="card"><img src="/static/images/vegetables/potato.jpg"><br><b>potato.jpg</b></div>
<div class="card"><img src="/static/images/vegetables/tomato.jpg"><br><b>tomato.jpg</b></div>
</div>
<h2>nuts</h2><div class="grid">
<div class="card"><img src="/static/images/nuts/nuts1.jpg"><br><b>nuts1.jpg</b></div>
<div class="card"><img src="/static/images/nuts/nuts10.jpg"><br><b>nuts10.jpg</b></div>
<div class="card"><img src="/static/images/nuts/nuts11.jpg"><br><b>nuts11.jpg</b></div>
<div class="card"><img src="/static/images/nuts/nuts12.jpg"><br><b>nuts12.jpg</b></div>
<div class="card"><img src="/static/images/nuts/nuts13.jpg"><br><b>nuts13.jpg</b></div>
<div class="card"><img src="/static/images/nuts/nuts2.jpg"><br><b>nuts2.jpg</b></div>
<div class="card"><img src="/static/images/nuts/nuts3.jpg"><br><b>nuts3.jpg</b></div>
<div class="card"><img src="/static/images/nuts/nuts4.jpg"><br><b>nuts4.jpg</b></div>
<div class="card"><img src="/static/images/nuts/nuts5.jpg"><br><b>nuts5.jpg</b></div>
<div class="card"><img src="/static/images/nuts/nuts6.jpg"><br><b>nuts6.jpg</b></div>
<div class="card"><img src="/static/images/nuts/nuts7.jpg"><br><b>nuts7.jpg</b></div>
<div class="card"><img src="/static/images/nuts/nuts8.jpg"><br><b>nuts8.jpg</b></div>
<div class="card"><img src="/static/images/nuts/nuts9.jpg"><br><b>nuts9.jpg</b></div>
</div>
<h2>oil</h2><div class="grid">
<div class="card"><img src="/static/images/oil/1.jpg"><br><b>1.jpg</b></div>
<div class="card"><img src="/static/images/oil/2.jpg"><br><b>2.jpg</b></div>
<div class="card"><img src="/static/images/oil/3.jpg"><br><b>3.jpg</b></div>
<div class="card"><img src="/static/images/oil/5.jpg"><br><b>5.jpg</b></div>
<div class="card"><img src="/static/images/oil/6.jpg"><br><b>6.jpg</b></div>
<div class="card"><img src="/static/images/oil/7.jpg"><br><b>7.jpg</b></div>
</div>
<h2>seeds</h2><div class="grid">
<div class="card"><img src="/static/images/seeds/seed1.jpg"><br><b>seed1.jpg</b></div>
<div class="card"><img src="/static/images/seeds/seed11.jpg"><br><b>seed11.jpg</b></div>
<div class="card"><img src="/static/images/seeds/seed12.jpg"><br><b>seed12.jpg</b></div>
<div class="card"><img src="/static/images/seeds/seed2.jpg"><br><b>seed2.jpg</b></div>
<div class="card"><img src="/static/images/seeds/seed3.jpg"><br><b>seed3.jpg</b></div>
<div class="card"><img src="/static/images/seeds/seed4.jpg"><br><b>seed4.jpg</b></div>
<div class="card"><img src="/static/images/seeds/seed5.jpg"><br><b>seed5.jpg</b></div>
<div class="card"><img src="/static/images/seeds/seed6.jpg"><br><b>seed6.jpg</b></div>
<div class="card"><img src="/static/images/seeds/seed7.jpg"><br><b>seed7.jpg</b></div>
<div class="card"><img src="/static/images/seeds/seed8.jpg"><br><b>seed8.jpg</b></div>
<div class="card"><img src="/static/images/seeds/seed9.jpg"><br><b>seed9.jpg</b></div>
</div>
<h2>spice</h2><div class="grid">
<div class="card"><img src="/static/images/spice/spi1.jpg"><br><b>spi1.jpg</b></div>
<div class="card"><img src="/static/images/spice/spi10.jpg"><br><b>spi10.jpg</b></div>
<div class="card"><img src="/static/images/spice/spi2.jpg"><br><b>spi2.jpg</b></div>
<div class="card"><img src="/static/images/spice/spi3.jpg"><br><b>spi3.jpg</b></div>
<div class="card"><img src="/static/images/spice/spi4.jpg"><br><b>spi4.jpg</b></div>
<div class="card"><img src="/static/images/spice/spi5.jpg"><br><b>spi5.jpg</b></div>
<div class="card"><img src="/static/images/spice/spi6.jpg"><br><b>spi6.jpg</b></div>
<div class="card"><img src="/static/images/spice/spi7.jpg"><br><b>spi7.jpg</b></div>
<div class="card"><img src="/static/images/spice/spi8.jpg"><br><b>spi8.jpg</b></div>
<div class="card"><img src="/static/images/spice/spi9.jpg"><br><b>spi9.jpg</b></div>
</div>
<h2>fragrant</h2><div class="grid">
<div class="card"><img src="/static/images/fragrant/fra1.jpg"><br><b>fra1.jpg</b></div>
<div class="card"><img src="/static/images/fragrant/fra2.jpg"><br><b>fra2.jpg</b></div>
<div class="card"><img src="/static/images/fragrant/fra3.jpg"><br><b>fra3.jpg</b></div>
<div class="card"><img src="/static/images/fragrant/fra4.jpg"><br><b>fra4.jpg</b></div>
<div class="card"><img src="/static/images/fragrant/fra5.jpg"><br><b>fra5.jpg</b></div>
<div class="card"><img src="/static/images/fragrant/fra6.jpg"><br><b>fra6.jpg</b></div>
<div class="card"><img src="/static/images/fragrant/fra7.jpg"><br><b>fra7.jpg</b></div>
<div class="card"><img src="/static/images/fragrant/fra8.jpg"><br><b>fra8.jpg</b></div>
<div class="card"><img src="/static/images/fragrant/fra9.jpg"><br><b>fra9.jpg</b></div>
</div>
</body></html>